<!DOCTYPE html>
<html>
<head>

    {% load staticfiles %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ title }}">
    <meta name="author" content="McNuggets-Lab">
    <link rel="stylesheet" type="text/css" href="{% static 'pokemonGO/stylesheets/style.css' %}" />
</head>
<body>
    <!--<h2>{{ title }}</h2>-->
    <p>Welcome! Here is something I wrote for fun:</p>
    <ul>
        <li><a href="/pokemonGO/CPvHP">Pokemon max CP vs max HP</a></li>
    </ul>

    

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>
</html>